# Python
__pycache__/
*.pyc
.venv/
.env

# Data files
data/
*.csv

# Results / outputs
outputs/

# Coursera / downloaded content
material/

# VS Code
.vscode/

# Introduction file
Copy of iSE Training.pdf

# sound file
*.wav

# txt file
note.txt

# docx file
*.docx

# picture file
*.png
*.jpg